<h1>Paul Anderson</h1>
<hr>

<div class='row'>
  <div class='col-md-4'>
    <%= image_tag 'tigers.jpg', width: 300, alt: 'Profile Image' %>
  </div>

  <div class='col-md-8'>
    <p>I am a software engineer with a broad range of experience across software development, automation and testing.</p>
  </div>
</div>
